@model QueryBuilderMVC.Models.QueryViewModel

@using (Html.BeginForm())
{
	@Html.ValidationSummary();

	<div>
        <p class="TextField" style="color:black;">
            Name: @Html.EditorFor(x => x.QueryName, new { placeholder = Model.QueryName })
        </p>
	</div>
    <div>
        <p class="TextField" style="color:black;">
            Description: @Html.EditorFor(x => x.Description, new { placeholder = Model.Description })
        </p>
    </div>


	<div>
		<p class="TextField" style="color:black; display:none;">
			Database: @Html.EditorFor(x => x.ProjectID, new { placeholder = Model.ProjectID })
		</p>
	</div>
	<div>
		<p class="TextField" style="color:black; display:none;">
			 @Html.TextAreaFor(x => x.QueryDate, new { placeholder = Model.QueryDate })
		</p>
	</div>
	<div>
		<p class="TextField" style="color:black; ">
			@Resources.Resource.CreateQueryBody: @Html.TextAreaFor(x => x.QueryBody, new { placeholder = Model.QueryBody })
		</p>
	</div>
	<div>
		<p class="TextField" style="display:none;">
			Database: @Html.TextBoxFor(x => x.QueryID,
	   new { placeholder = Model.QueryID })
		</p>
	</div>
	

}
<script>
        $('.ui-dialog-buttonset button').addClass("ui-button ui-corner-all ui-widget button-modal");
        $('.ui-dialog-buttonset button').css('width', 70);
        $('.ui-dialog-buttonset button').css('height', 30);
</script>